@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css");


* {
    box-sizing: border-box;
}

body {
    /*background-color: aquamarine;*/
    font-family: Roboto, sans-serif;
    font-weight: normal;
    background-color: #ccc;
    padding: 0;
    margin: 0;
}

.main-grid {
    display: grid;
    grid-template-columns: .25fr 5fr;
    grid-template-rows: .25fr 6fr;
    border: 2px solid gray;
    border-style: outset;
    padding: 10px;
    background-color: #ccc;
}

.upper-left {
    border-style: outset;
    border: 3px solid gray;
}

.app {
    border-style: outset;
    border: 1px solid black;
    box-shadow: 10px 5px 5px blue;
    display: grid;
    /*flex-direction: column;*/
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(3, minmax(100px, 2fr)) 1fr;
    gap: 5px;
}

.app-hdr {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 5px 5px blueviolet;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
}
.hdr-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}
.hdr-date-time {
    color: red;
    font-weight: bolder;
}
.hdr-icon {
    box-shadow: none;
    width: 100%;
    height: auto;
    object-fit: cover;
}
#hdr-icon {

}
.app div {
    /*border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 10px 5px 5px blue;*/

}

/*-----------------DETAILS AREA------------*/
.app-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.cell {
    
    /* border: 1px solid green; */
    border-radius: 5px;
    padding: 5px;
}
.name-cell {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
}
.icon-cell {
    grid-column: 2;
    grid-row: 1 / 3;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: none;
    width: 100%;
    height: auto;
    object-fit: cover; */
}
.temp-cell {
    grid-column: 1;
    grid-row: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}
.conditions-cell {
    grid-column: 1;
    grid-row: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}
.sunrise-cell {
    grid-column: 2;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.sunset-cell {
    grid-column: 2;
    grid-row: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

/* STATISTICS AREA -------------------*/
.app-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-style: inset;
    /* border: 1px solid rebeccapurple; */
    border-radius: 8px;
    gap: 10px;
    margin: 15px;

}
.stat-cell {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    border: 4px solid green;
    border-radius: 15px;
    padding: 5px;
}
.stat-cell-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.stat-cell-wind,
.stat-cell-feels,
.stat-cell-rain,
.stat-cell-humid {
    font-size: 22px;
    font-weight: bold;
    color: blue;
}
/* ********************************** */
/* ********************************** */


/* FIVE DAY FORECAST AREA */
.five-day {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    border-style: inset;
    /* border: 1px solid red; */
    /*box-shadow: 10px 5px 5px red;*/
    /*flex-direction: column;*/
    gap: 5px;
}
.day-cell {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr;
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px;
    
    /*box-shadow: 10px 5px 5px blue;*/  
}
.day-cell-sub {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.day-cell-temp {
    font-size: 25px;
    font-weight: bold;
    color: orangered;
}

/* ********************************** */
/* ********************************** */

/*INPUT AREA*/
.input-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.input-area form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.input-search {
    width: 200px;
    border-radius: 5px;
    font-size: 15px;
}
/* *********************** */


.upper-right {
    border-style: inset;
    border: 1px solid gray;
}

.lower-left {
    border-style: inset;
    border: 1px solid gray;
}

.container div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}